In [15]:
!pip install xgboost
!pip install eli5

Collecting xgboost
  Downloading xgboost-1.7.4-py3-none-win_amd64.whl (89.1 MB)
     --------------------------------------- 89.1/89.1 MB 17.7 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.4
Collecting eli5
  Downloading eli5-0.13.0.tar.gz (216 kB)
     -------------------------------------- 216.2/216.2 kB 6.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: attrs>17.1.0 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from eli5) (21.4.0)
Collecting jinja2>=3.0.0
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     -------------------------------------- 133.1/133.1 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.9.0 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from eli5) (1.21.5)
Requirement already satisfied: scipy in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from eli5) (1.9.1)
Requirement already satisfied: six in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from eli5) (1.16.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from eli5) (1.0.2)
Collecting graphviz
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     ---------------------------------------- 47.0/47.0 kB ? eta 0:00:00
Requirement already satisfied: tabulate>=0.7.7 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from eli5) (0.8.10)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from jinja2>=3.0.0->eli5) (2.0.1)
Requirement already satisfied: joblib>=0.11 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from scikit-learn>=0.20->eli5) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\intel win11pro(12th)\anaconda3\lib\site-packages (from scikit-learn>=0.20->eli5) (2.2.0)
Building wheels for collected packages: eli5
  Building wheel for eli5 (setup.py): started
  Building wheel for eli5 (setup.py): finished with status 'done'
  Created wheel for eli5: filename=eli5-0.13.0-py2.py3-none-any.whl size=107728 sha256=1522fa0c56bffc1dea4e3f03923d6d2fa369f311793efa358f7498fb21bf5e2f
  Stored in directory: c:\users\intel win11pro(12th)\appdata\local\pip\cache\wheels\7b\26\a5\8460416695a992a2966b41caa5338e5e7fcea98c9d032d055c
Successfully built eli5
Installing collected packages: jinja2, graphviz, eli5
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
Successfully installed eli5-0.13.0 graphviz-0.20.1 jinja2-3.1.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
anaconda-project 0.11.1 requires ruamel-yaml, which is not installed.

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_squared_error

import eli5
from eli5.sklearn import PermutationImportance

In [3]:
df = pd.read_csv('train.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [11]:
# 숫자형 데이터만 입력
numeric_df = df.select_dtypes(include = 'number')

In [13]:
numeric_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0

In [14]:
y_train = numeric_df['price']
numeric_df.pop('price')
X_train = numeric_df

In [28]:
model = RandomForestRegressor()
rf = model.fit(X_train,y_train)
output2 = model.predict(X_train)

print( '결정계수: ', model.score(X_train, y_train))
output2

결정계수:  0.8785995483775666

array([ 344796.5       , 1978224.61111111,  356403.71428572, ...,
        504316.79166687,  288177.29428571,  238024.        ])

In [29]:
model1 = XGBRegressor()
xgb = model1.fit(X_train,y_train)
output1 = model1.predict(X_train)

print( '결정계수: ', model1.score(X_train, y_train))
output1

결정계수:  0.9676704040907126

array([ 304639.97, 2339908.  ,  455172.5 , ...,  549264.94,  381116.03,
        292737.88], dtype=float32)

In [40]:
# feature_imporatance_rf = rf.feature_importances_
# feature_imporatance_xgb = xgb.feature_importances_

# estimator1 = lambda X: rf.predict(X.reshape(1, -1))
# estimator2 = lambda X: xgb.predict(X.reshape(1, -1))

In [50]:
cmap = plt.get_cmap('coolwarm')


a = eli5.show_weights(rf, feature_names = X_train.columns.tolist())
b = eli5.show_weights(xgb, feature_names = X_train.columns.tolist())

In [51]:
a

In [45]:
eli5.show_weights(feature_imporatance_rf, feature_names=list('ABCDE'), cmap=cmap)
eli5.show_weights(feature_imporatance_xgb, feature_names=list('ABCDE'), cmap=cmap)

In [ ]:
cmap = plt.get_cmap('coolwarm')